# С какими данными мы работаем?

Наши данные представляют собой четыре таблицы:

    ratings1 и ratings2 — таблицы с данными о выставленных пользователями оценках фильмов. Они имеют одинаковую структуру и типы данных — на самом деле это две части одной таблицы с оценками фильмов.

In [1]:
import pandas as pd
ratings1 = pd.read_csv('data/ratings1.csv')
ratings2 = pd.read_csv('data/ratings2.csv')

In [4]:
ratings1.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [5]:
ratings2.head()

   userId  movieId  rating
0     274     5621     2.0
1     274     5630     3.0
2     274     5667     3.5
3     274     5679     3.5
4     274     5690     3.0

- userId — уникальный идентификатор пользователя, который выставил оценку;
- movieId — уникальный идентификатор фильма;
- rating — рейтинг фильма.

    dates — таблица с датами выставления всех оценок.

In [3]:
dates = pd.read_csv('data/dates.csv')

In [6]:
dates.head()

                  date
0  2000-07-30 18:45:03
1  2000-07-30 18:20:47
2  2000-07-30 18:37:04
3  2000-07-30 19:03:35
4  2000-07-30 18:48:51

 - date — дата и время выставления оценки фильму.

    movies — таблица с информацией о фильмах.

In [7]:
movies = pd.read_csv('data/movies.csv')

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

 - movieId — уникальный идентификатор фильма;
 - title — название фильма и год его выхода;
 - genres — жанры фильма.

# Задание 5.2

In [11]:
movies['movieId'].nunique()

9742

# Задание 5.3

In [12]:
ratings1['userId'].nunique()

274

# Задание 5.4

В каком году было выставлено больше всего оценок?

Для ответа на этот вопрос используйте таблицу dates.

In [14]:
dates['date'] = pd.to_datetime(dates['date'])

In [33]:
dates['year'] = dates['date'].dt.year
dates['year'].value_counts().index[0]

2000