In [3]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv')

Информация о столбцах таблицы:

In [6]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75


        gender — пол;
        race/ethnicity — раса/этническая принадлежность;
        parental level of education — уровень образования родителей;
        lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
        test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
        math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

    Вам необходимо прочитать эти данные в DataFrame с именем student_data и ответить на следующие вопросы ↓

# Задание 9.1

Данные о скольких студентах содержатся в таблице?

In [7]:
student_data.shape[0]

1000

# Задание 9.2

Каков балл по письму у студента под индексом 155?

In [8]:
student_data['writing score'][155]

88

# Задание 9.3

Сколько суммарно пропущенных значений в таблице?

In [24]:
student_data.isna().sum().sum()

0

# Задание 9.4

Сколько столбцов в таблице имеет тип данных object?

In [27]:
student_data.describe(include=['object']).shape[1]

5

# Задание 9.5

Какой объём памяти (в килобайтах) занимает таблица?

In [32]:
round(student_data.memory_usage().sum()/1024)

63

# Задание 9.6

Каков у студентов средний балл по математике?

In [33]:
round(student_data['math score'].mean())

66

# Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?

In [34]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

# Задание 9.8

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [37]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

# Задание 9.9

Сколько студентов получили 0 баллов по математике?

In [40]:
student_data[student_data['math score'] == 0].shape[0]

1

# Задание 9.10

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [48]:
student_data[student_data['lunch'] == 'standard']['math score'].mean() > student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

True

In [49]:
round(student_data[student_data['lunch'] == 'standard']['math score'].mean())

70

# Задание 9.11

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [58]:
round(student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]/student_data.shape[0]*100)

12

# Задание 9.12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [59]:
abs(round(student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() -
      student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()))

6